{% extends "core/base.html" %}
{% block title %}Tecnsol | Next-Gen Digital Solutions & Software Engineering{% endblock %}
{% block content %}
    {% include "core/partials/hero.html" %}
    {% include "core/partials/services_section.html" %}
    {% include "core/partials/partners_section.html" %}
    {% include "core/partials/projects_section.html" %}
    {% include "core/partials/tech_stack_section.html" %}
    {% include "core/partials/collaboration_section.html" %}
    {% include "core/partials/testimonials_section.html" %}
{% endblock %}